extends layout

block content
    script(type="text/javascript")
        $('document').ready(function(){	
            // Handler for .ready() called.
            $('#paging_container1').pajinate();
        });
        function listarProdsPorPagina(prodsTotales,numPagina,filasPorPagina){
            alert("hoolla");
        }
    
    -var productosConsultados= productos.length;
    -var numeroPagina=2;
    -var productosPorFila=4;
    -var contadorProducto=0;
    label Productos encontrados: #{productosConsultados}

    if(productos.length>0)
        div.containerRejilla
            div#paging_container1.container_paj
                div.page_navigation_paj
                ul.content_paj
                    while contadorProducto<productosConsultados
                        if(productosPorFila=4)
                            li                                
                                div.row
                                    div.col-xs-12.col-sm-6.col-md-3
                                        div.thumbnail                                        
                                            if(productos[contadorProducto].id<130)
                                                img(src="img/img (#{productos[contadorProducto].id}).jpg", alt="image")
                                                div.caption
                                                    span.label.label-primary #{productos[contadorProducto].nombreProducto}
                                                    p Presentación: #{productos[contadorProducto].presentacionProducto}
                                                    p Precio: #{productos[contadorProducto].preciomercasaProducto}
                                                    p
                                                        a(href="#", class="btn btn-primary", role="button") Agregar
                                            else
                                                img(src="img/img (1).jpg", alt="image")
                                                div.caption
                                                    span.label.label-primary #{productos[contadorProducto].nombreProducto}
                                                    p Presentación: #{productos[contadorProducto].presentacionProducto}
                                                    p Precio: #{productos[contadorProducto].preciomercasaProducto}
                                                    p
                                                        a(href="#", class="btn btn-primary", role="button") Agregar
                                    -contadorProducto=contadorProducto+1
                                    if(contadorProducto<productosConsultados)
                                        div.col-xs-12.col-sm-6.col-md-3
                                            div.thumbnail                                        
                                                if(productos[contadorProducto].id<130)
                                                    img(src="img/img (#{productos[contadorProducto].id}).jpg", alt="image")
                                                    div.caption
                                                        span.label.label-primary #{productos[contadorProducto].nombreProducto}
                                                        p Presentación: #{productos[contadorProducto].presentacionProducto}
                                                        p Precio: #{productos[contadorProducto].preciomercasaProducto}
                                                        p
                                                            a(href="#", class="btn btn-primary", role="button") Agregar
                                                else
                                                    img(src="img/img (1).jpg", alt="image")
                                                    div.caption
                                                        span.label.label-primary #{productos[contadorProducto].nombreProducto}
                                                        p Presentación: #{productos[contadorProducto].presentacionProducto}
                                                        p Precio: #{productos[contadorProducto].preciomercasaProducto}
                                                        p
                                                            a(href="#", class="btn btn-primary", role="button") Agregar
                                    -contadorProducto=contadorProducto+1
                                    if(contadorProducto<productosConsultados)
                                        div.col-xs-12.col-sm-6.col-md-3
                                            div.thumbnail                                        
                                                if(productos[contadorProducto].id<130)
                                                    img(src="img/img (#{productos[contadorProducto].id}).jpg", alt="image")
                                                    div.caption
                                                        span.label.label-primary #{productos[contadorProducto].nombreProducto}
                                                        p Presentación: #{productos[contadorProducto].presentacionProducto}
                                                        p Precio: #{productos[contadorProducto].preciomercasaProducto}
                                                        p
                                                            a(href="#", class="btn btn-primary", role="button") Agregar
                                                else
                                                    img(src="img/img (1).jpg", alt="image")
                                                    div.caption
                                                        span.label.label-primary #{productos[contadorProducto].nombreProducto}
                                                        p Presentación: #{productos[contadorProducto].presentacionProducto}
                                                        p Precio: #{productos[contadorProducto].preciomercasaProducto}
                                                        p
                                                            a(href="#", class="btn btn-primary", role="button") Agregar
                                    -contadorProducto=contadorProducto+1
                                    if(contadorProducto<productosConsultados)
                                        div.col-xs-12.col-sm-6.col-md-3
                                            div.thumbnail                                        
                                                if(productos[contadorProducto].id<130)
                                                    img(src="img/img (#{productos[contadorProducto].id}).jpg", alt="image")
                                                    div.caption
                                                        span.label.label-primary #{productos[contadorProducto].nombreProducto}
                                                        p Presentación: #{productos[contadorProducto].presentacionProducto}
                                                        p Precio: #{productos[contadorProducto].preciomercasaProducto}
                                                        p
                                                            a(href="#", class="btn btn-primary", role="button") Agregar
                                                else
                                                    img(src="img/img (1).jpg", alt="image")
                                                    div.caption
                                                        span.label.label-primary #{productos[contadorProducto].nombreProducto}
                                                        p Presentación: #{productos[contadorProducto].presentacionProducto}
                                                        p Precio: #{productos[contadorProducto].preciomercasaProducto}
                                                        p
                                                            a(href="#", class="btn btn-primary", role="button") Agregar
                                    -contadorProducto=contadorProducto+1
                        else    
                            li
                                div.row
                                    div.col-xs-12.col-sm-6.col-md-4
                                        div.thumbnail                                        
                                            if(productos[contadorProducto].id<130)
                                                img(src="img/img (#{productos[contadorProducto].id}).jpg", alt="image")
                                                div.caption
                                                    span.label.label-primary #{productos[contadorProducto].nombreProducto}
                                                    p Presentación: #{productos[contadorProducto].presentacionProducto}
                                                    p Precio: #{productos[contadorProducto].preciomercasaProducto}
                                                    p
                                                        a(href="#", class="btn btn-primary", role="button") Agregar
                                            else
                                                img(src="img/img (1).jpg", alt="image")
                                                div.caption
                                                    span.label.label-primary #{productos[contadorProducto].nombreProducto}
                                                    p Presentación: #{productos[contadorProducto].presentacionProducto}
                                                    p Precio: #{productos[contadorProducto].preciomercasaProducto}
                                                    p
                                                        a(href="#", class="btn btn-primary", role="button") Agregar
                                    -contadorProducto=contadorProducto+1
    else
        label NO HAY PRODUCTOS QUE MOSTRAR
